{{ define "main" }}
  <div class="content-container"></div>

<script>
async function loadData(filePath) {
  const response = await fetch(filePath);
  return response.json();
}

async function loadAllData() {
  const groups = [
    "full_professors", 
    "associate_professors", 
    "assistant_professors", 
    "senior_research_scientists", 
    "postdocs", 
    "phd_students", 
    "visitors",
    "alumni"
  ];
  const dataBasePath = '/isp/data/people/';

  for (const group of groups) {
    const filePath = `${dataBasePath}${group}.json`;
    const data = await loadData(filePath);

    const container = document.querySelector('.content-container');
    
    // Añadir un subtítulo para cada grupo
    const groupTitle = document.createElement('h2');
    groupTitle.style.marginBottom = '30px';
    const label = document.createElement('span');
    label.classList.add('label', 'label-info');
    label.textContent = group.replace(/_/g, ' ');
    groupTitle.appendChild(label);
    container.appendChild(groupTitle);

    const cardContainer = document.createElement('div');
    cardContainer.classList.add('card-container');
    cardContainer.style.marginLeft = '3%';
    container.appendChild(cardContainer);

    const basePath = '../images/people/'; // Ruta base de las imágenes

    data[group].forEach(person => {
      const card = document.createElement('div');
      card.classList.add('card', 'mb-3');
      card.innerHTML = `
        <div class="row g-0">
          <div class="col-md-3">
            <img src="${basePath + person.image}" class="img-fluid rounded-start" alt="Imagen de ${person.name}" style="height: 200px; width:140px">
          </div>
          <div class="col-md-9">
            <div class="card-body" style="max-height: 200px; overflow-y: auto;">
              <h5 class="card-title" style="font-size: 1em;">${person.name}</h5>
              <p class="card-text" style="font-size: 0.85em;">${person.description}</p>
              <div class="card-links">
                ${person.google_scholar ? `<a href="${person.google_scholar}"><img src="https://www.uv.es/gcamps/images/icons/gscholar.png" height="25" width="25"></a>` : ''}
                ${person.orcid ? `<a href="${person.orcid}"><img src="https://www.uv.es/gcamps/images/icons/orcid.png" height="25" width="25"></a>` : ''}
                ${person.twitter ? `<a href="${person.twitter}"><img src="https://www.uv.es/gcamps/images/icons/twitter.png" height="24" width="30"></a>` : ''}
                ${person.github ? `<a href="${person.github}"><img src="https://www.uv.es/gcamps/images/icons/github.png" height="25" width="25"></a>` : ''}
                ${person.semantic_scholar ? `<a href="${person.semantic_scholar}"><img src="https://www.uv.es/gcamps/images/icons/semantic.png" height="25" width="25"></a>` : ''}
                ${person.researchgate ? `<a href="${person.researchgate}"><img src="https://www.uv.es/gcamps/images/icons/rg.png" height="25" width="25"></a>` : ''}
                ${person.personal_uv ? `<a href="${person.personal_uv}" class="btn btn-xs btn-info" aria-label="Left Align">UV</a>` : ''}
                ${person.linkedin ? `<a href="${person.linkedin}"><img src="https://www.uv.es/gcamps/images/icons/linkedin.png" height="25" width="25"></a>` : ''}
                ${person.ieee ? `<a href="${person.ieee}"><button type="button" class="btn btn-xs btn-success" aria-label="Left Align">IEEE</button></a>` : ''}
                ${person.dblp ? `<a href="${person.dblp}"><button type="button" class="btn btn-xs btn-danger" aria-label="Left Align">dblp</button></a>` : ''}
                ${person.personal_website ? `<a href="${person.personal_website}"><button type="button" class="btn btn-xs btn-info" aria-label="Left Align">Website</button></a>` : ''}
                ${person.causality ? `<a href="${person.causality}"><button type="button" class="btn btn-xs btn-success" aria-label="Left Align">Causality</button></a>` : ''}
                ${person.manifold_learning ? `<a href="${person.manifold_learning}"><button type="button" class="btn btn-xs btn-danger" aria-label="Left Align">Manifold Learning</button></a>` : ''}
              </div>
            </div>
          </div>
        </div>
      `;
      cardContainer.appendChild(card);
    });
  }
}

document.addEventListener('DOMContentLoaded', loadAllData);
</script>


<style>
  .content-container {
      max-width: 90%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 30px;
  }

  .btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
  
  .label {
      display: inline;
      padding: 0.2em 0.6em 0.3em;
      font-size: 75%;
      font-weight: 700;
      line-height: 1;
      color: #fff;
      text-align: center;
      white-space: nowrap;
      vertical-align: baseline;
      border-radius: 0.25em;
  }
  
  .label-info {
      background-color: #5bc0de;
  }
  
  .card-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr); /* Dos columnas por fila */
      gap: 20px;
  }
  
  .card {
      max-width: 100%;
  }
  
  .card-body::-webkit-scrollbar {
    width: 5px; /* Ancho del scrollbar */
  }
  
  .card-body::-webkit-scrollbar-thumb {
    background-color: #a7a7a7; /* Color del scrollbar */
    border-radius: 5px; /* Borde del scrollbar */
  }
  </style>
  

{{ end }}
